body{
  background-color: LightGray;
}
h2{
  background-color:Green;
}
ul{
  list-style-type: none;
  background-color: NavyBlue;
  display: flex;
}
li{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
