body{
  background-color: LightGray;
}
h2{
  background-color:Green;
}
ul{
  list-style-type: none;
  background-color: red;
  display: flex;
}
li{
  color: white;
  text-align: center;
  margin: 16px;
  text-decoration: none;
}
